<% 
    viewBag.pageTitle = 'Sign Up';
    const getErrorClass =  (fieldName) => errors?.[fieldName] ? 'is-invalid' : '';
%>

<%- contentFor('style') %>
<link rel="stylesheet" href="/css/auth.css">

<%- contentFor('body') %>
<div class="auth-container">

    <h1 class="display-4 text-center">
        <strong>Sign Up</strong>
    </h1>

    <form method="post" action="/sign-up">

        <div class="mb-3">
            <label for="name" class="form-label">Full name</label>
            
            <input 
                type="text" 
                class="form-control <%= getErrorClass('name') %>" 
                id="name" 
                name="name" 
                required 
                value="<%= lastRequestBody?.name %>"
                />
            
            <% if (errors?.name) { %> <div class="form-text invalid-feedback"><%= errors.name %></div> <% } %>
        </div>


        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            
            <input 
                type="email" 
                class="form-control <%= getErrorClass('email') %>" 
                id="email" 
                name="email" 
                required
                value="<%= lastRequestBody?.email %>"
                />

            <% if (errors?.email) { %> <div class="form-text invalid-feedback"><%= errors.email %></div> <% } %>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>

            <input 
                type="password" 
                class="form-control <%= getErrorClass('password') %>" 
                id="password" 
                name="password" 
                required
                value="<%= lastRequestBody?.password %>"
                />

            <% if (errors?.password) { %> <div class="form-text invalid-feedback"><%= errors.password %></div> <% } %>
        </div>

        <div class="mb-3">
            <label for="retyped-password" class="form-label">Confirm password</label>
            
            <input 
                type="password" 
                class="form-control <%= getErrorClass('retypedPassword') %>" 
                id="retyped-password" 
                name="retypedPassword" 
                required
                value="<%= lastRequestBody?.retypedPassword %>"
                />
            
            <% if (errors?.retypedPassword) { %> <div class="form-text invalid-feedback"><%= errors.retypedPassword %></div> <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>